.toolbar-operation-button {
  height: 28px;
  width: 28px;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--dst-color-image-gallery-toolbar-icon);
  border-radius: 4px;

  &.active,
  &:hover {
    background-color: var(
      --dst-color-image-gallery-toolbar-icon-active-background
    );
    // border-color: var(--dst-color-image-gallery-toolbar-icon);
  }

  &.disabled {
    color: #bbb;
    cursor: not-allowed;
    &:hover {
      background-color: transparent;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.toolbar-operation-divider {
  cursor: default;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-line {
    width: 1px;
    height: 24px;
    background-color: #bcbfc3;
  }
}

.toolbar-operation-popover-overlay {
  .ant-popover-arrow {
    &::before,
    &::after {
      background-color: var(--dst-color-image-gallery-toolbar-popover);
    }
  }
  .ant-popover-inner {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--dst-color-image-gallery-toolbar-popover);
  }
  .screenshots-color-item {
    border: 1px solid transparent;
    &.screenshots-color-active {
      border: 1px solid #056ffa;
    }
  }

  .screenshots-mosaic-type-item {
    height: 22px;
    width: 22px;
    border-radius: 4px;
    padding: 2px;
    color: var(--dst-color-image-gallery-toolbar-icon);
    &.is-checked,
    &:hover {
      color: var(--dst-color-image-gallery-toolbar-icon);
      background-color: var(
        --dst-color-image-gallery-toolbar-icon-active-background
      );
      outline: 1px solid transparent;
    }
    svg {
      height: 20px;
      width: 20px;
      font-size: 20px;
      line-height: 20px;
    }
  }
}
@import '../node_modules/@cc-kit/react-screenshots/lib/style.css';

.image-gallery-title-icon {
  display: inline-flex;
  align-items: center;
  height: 24px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 510;

  &.cancel-button {
    background-color: transparent;
    border: 1px solid var(--dst-color-text-disable);
    color: var(--dst-color-text-primary);
    &:hover,
    &:active {
      background-color: rgb(
        from var(--dst-color-hover-mixin) r g b / 0.12
      ) !important;
      border: 1px solid var(--dst-color-text-disable) !important;
      color: var(--dst-color-text-primary) !important;
    }
  }
}
