@use 'sass:color';

.recorder {
  position: relative;
  background: $color-white;

  button {
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 0;
    // margin-left: 5px;
    // text-align: center;
    padding: 0;
    margin-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      display: inline-block;
      width: 14px;
      height: 14px;
    }
  }

  .finish {
    background: var(--dst-color-primary);

    .icon {
      @include color-svg(
        '../images/recorder-check.svg',
        var(--dst-color-text-white)
      );
    }
  }

  .close {
    background: var(--dst-color-line);

    .icon {
      @include color-svg('../images/recorder-x.svg', var(--dst-color-icon));
    }
  }

  .time {
    color: var(--dst-color-text-primary);
    float: right;
    line-height: 36px;
    padding: 0 10px;
    width: 100px;
    font-size: 14px;
    text-align: center;

    @keyframes pulse {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    &::before {
      content: '';
      display: inline-block;
      border-radius: 10px;
      width: 10px;
      height: 10px;
      background: #f84135;
      margin-right: 10px;
      opacity: 0;
      animation: pulse 2s infinite;
    }
  }
}

.audio-recorder-time-limit-tooltip {
  .ant-tooltip-inner {
    font-size: 12px;
    line-height: 16px;
    background: var(--dst-color-background-tooltip) !important;
    min-height: 1px;
  }
  .ant-tooltip-arrow {
    &::before {
      background: var(--dst-color-background-tooltip) !important;
    }
  }
}
